nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}
nav #closebtn {
    position: absolute;
    top: 0;
    right: 0.5em;
    font-size: 3em;
}
nav li {
    color: white;
}

.hidden {
    display: none;
}