body {
    font-family: Verdana, sans-serif;
}
/*------HEADER------*/
header {
    font-size: 2em;
    background-color: indigo;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.2em 0;
}
span {
    font-size: 1.2em;
    padding-left: 0.2em;
}
h1 {
    padding-top: 0.1em;
}
/*------NAV------*/
nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: indigo;
    overflow-x: hidden;
    transition: 0.2s;
}
nav li {
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 0.3em;
    color: white;
}
nav #closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
}
/*------MAIN------*/
section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

section h2 {
    font-size: 1.5em;
    padding: 0.5em;
}

/*------ID's and CLASSES------*/
.hidden {
    display: none;
}
.booklist {
    width: 80%;
    margin: auto;
    border : #37006e solid 2px;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1px 1px #37006e;
}
.button {
    position: fixed;
    bottom: 1em;
    right: 0.5em;
    color: white;
    padding: 0 0.2em;
    background-color: indigo;
    border-color: #37006e;
    border-radius: 50%;
    font-size: 4em;
}
.page-shadow {
    box-shadow:0 0 0 10000px rgba(0,0,0,.50);
}